/*-------------------------------------
GENERIC STYLES
-------------------------------------*/

html {
    font-family: "Papyrus", Arial, Helvetica, sans-serif;
    font-size: 75%;
}

body{
    font-size: 1.5em;
}

form {
    font-size: 15px;
    width: 75%;
    margin: 5% auto;
    border: 1px solid rgb(216, 17, 17);
    border-radius: 5px;
}


.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 20px 20px;
    text-transform: uppercase;
}

.head-last {
    font-size: 18px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}